<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clients List</title>
</head>
<body>
<div class="header">
    <h1>Clients</h1>
</div>
<div class="sidebar">
    <form action="client/create" method="post">
        <label>
            Name <br/>
            <input type="text" name="name">
        </label><br/>
        <label>
            Address <br/>
            <input type="text" name="address">
        </label><br/>
        <label for="phones">Phones:</label><br/>
        <textarea id="phones" name="phones" rows="5" cols="32"></textarea>
        <br/><br/>
        <input type="submit" value="Create client">
    </form>
</div>
<div class="container">
    <#if clients?? && clients?size gt 0>
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Address</th>
            <th>Phone</th>
        </tr>
        </thead>
        <tbody>
        <#list clients as client>
        <tr>
            <td>${client.id}</td>
            <td>${client.name}</td>
            <td><#if client.address??>${client.address.street}</#if></td>
            <td><#if client.phones?? && client.phones?size gt 0>${client.phones[0].number}</#if></td>
        </tr>
        </#list>
        </tbody>
    </table>
    <#else>
    <p>No clients found.</p>
</#if>
</div>
</body>
</html>